VITE_SUPABASE_URL=https://fiqccgamjkwpmnprhbdx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpcWNjZ2Ftamt3cG1ucHJoYmR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyNTkyODYsImV4cCI6MjA5MDgzNTI4Nn0.L8TZsFjVOn6WXzAwXlgR6irrV-b2o7NtipM_-lPvi6Q
